body {
    background-color: #eee;
}

.p__range__width {
    width: 80%;
    margin: 0 auto;
}

.range__width {
    width: 100%;
    margin: 0 26px;
}

input[type="range"].range__width {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=range].range__width::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    border: none;
    position: relative;
    z-index: 10;
}

input[type=range].range__width::-moz-range-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    border: none;
    position: relative;
    z-index: 10;
}

.banner {
    width: 100%;
}

.banner-title-h2 {
    margin: 0;
    padding: 24px 0 6px 0;
    color: #fff;
}

.banner-title-h5 {
    margin: 0;
    padding: 12px 0 6px 0;
    color: #fff;
}

.banner-title {
    position: relative;
    top: -143px;
    padding: 12px 18px;
    margin-bottom: -143px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 50%, rgba(0, 0, 0, 0.9) 100%);
    /* FF3.6+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 50%, rgba(0, 0, 0, 0.9) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 50%, rgba(0, 0, 0, 0.9) 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 50%, rgba(0, 0, 0, 0.9) 100%);
    /* IE10+ */
    background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.54) 50%, rgba(0, 0, 0, 0.9) 100%);
    /* W3C */
}

.banner-title-cut-line {
    background-color: #fff;
    height: 3px;
    width: 182px;
}

.control-panel-icon-box {
    position: relative;
    width: 10%;
    height: 72px;
    float: left;
}

.control-panel-icon-box img {
    position: relative;
    width: 24px
}

.control-panel-icon-box>div {
    width: 24px;
    height: 24px;
    margin: 24px auto;
}

.range-slider {
    position: relative;
    width: 80%;
    float: left;
}

.control-panel-title {
    color: #888;
    margin-bottom: 6px;
    margin-top: 16px;
    margin-left: 4px;
}

.bottomSwitch {
    position: fixed;
    bottom: 80px;
    right: 0px;
    z-index: 1;
}

#switch {
    float: right;
    margin-right: 15px;
    background-color: #00A5E0;
    z-index: 10;
}

.switchIcon {
    margin-top: -4px;
}

.cold {
    position: relative;
    height: 12px;
    width: 12px;
    top: 6px;
    margin: 6px auto;
    border-radius: 50%;
    background-color: #2861FF;
}

.warm {
    position: relative;
    height: 12px;
    width: 12px;
    top: 6px;
    margin: 6px auto;
    border-radius: 50%;
    background-color: #FF6C00;
}

.control-panel-background {
    padding: 16px;
    background-color: #FFF;
    border-radius: 3px;
}

label.list-radio {
    display: inline;
}

.tomato-card.mdl-card {
    width: 100%;
}

.tomato-card>.mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../welcome_card.jpg') center / cover;
}

.tomato-card>.mdl-card__title.fengrossment {
    background: url('../zz.jpg') center / cover;
}

.mdl-progress.tomato-card-progress {
    display: none;
    width: 100%;
}

.mdl-button.giveup {
    display: none;
}

.alarm-card.mdl-card {
    width: 100%;
}

.alarm-card>.mdl-card__title {
    height: 176px;
    color: #fff;
    background: url('../ala.jpg') center / cover;
}

.alarm-card>.mdl-card__title.nature {
    background: url('../nature.jpg') center / cover;
}

.alarm-card>.mdl-card__title.routine {
    background: url('../routine.jpg') center / cover;
}

.Tree-card.mdl-card {
    width: 100%;
}

.Tree-card>.mdl-card__title {
    height: 176px;
    color: #fff;
    background: url('../dog.png') bottom right 15% no-repeat #46B6AC;
}

.Tree-card p {
    margin-bottom: -48px;
}

.Tree-card h2 {
    margin-left: -56px;
}

.rank-card p {
    margin-bottom: -48px;
}

.rank-card h2 {
    margin-left: -56px;
}

.Tree-usage-log-slice {
    height: 44px;
}

.rank-usage-log-slice {
    height: 44px;
    padding: 18px 0;
}

.mdl-card .mdl-textfield {
    width: 100%;
}

.Tree-usage-log.unfnished {
    margin-top: 11px;
}

.Tree-usage-log {
    float: right;
    line-height: 20px;
    text-align: right;
}

.mdl-card .mdl-card-list {
    position: relative;
    margin-right: -16px;
}

.Tree-usage-log-zone {
    padding: 24px 16px;
}

.Tree-usage-log-slice-occupay {
    margin-left: -2px;
    margin-top: -2px;
}

.Tree-usage-log-icon-box {
    display: inline-block;
    height: 44px;
    width: 44px;
    position: relative;
}

.Tree-usage-log-icon {
    width: 50%;
    height: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ffd63f;
}

.Tree-usage-log-icon.unfnished {
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #aaa;
    -webkit-animation-name: unfnished;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

@-webkit-keyframes unfnished {
    from {
        background: #aaa;
    }
    to {
        background: #888;
        height: 34px;
        width: 34px;
    }
}

#showTime {
    transition: 0.26s;
}